@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Momo Trust Display';
  src: url('/fonts/MomoTrustDisplay.woff2') format('woff2'),
       url('/fonts/MomoTrustDisplay.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}