@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Momo Trust Display';
  src: url('/fonts/MomoTrustDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('/fonts/LobsterTwo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Set the base font for the app to Inter for readability */
body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  color: #000; /* Default text color to black */
}

.font-momo {
  font-family: 'Momo Trust Display', ui-sans-serif, system-ui, sans-serif;
}

.font-lobster {
  font-family: 'Lobster Two', ui-sans-serif, system-ui, sans-serif;
}
